:root {
  --background-cite: #feafc3;
  --background-extra: #ff7799;
  --background-standard: #fcfcfc;
  --background-standard-opacity: rgba(252, 252, 252, 0.4);
  --background-button-form: #FF2F64;
  --button-shadow: rgba(45, 52, 64, 0.1);
  --button-shadow-hover: rgba(133, 133, 133, 0.15);
  --button-form-border: #ff2f644d;
  --text-extra: #2d3440;
  --text-inner-form: #b9b9b9;
  --text-strandard: #565c66;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-700.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-900.woff2) format("woff2");
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  color: var(--text-strandard);
  background-color: var(--background-cite);
}

.main-navigation {
  line-height: 20px;
}

.main-navigation__list {
  list-style: none;
}

.main-navigation__link {
  color: var(--text-extra);
  text-decoration: none;
}

.user-navigation {
  font-size: 14px;
  line-height: 20px;
}

.user-navigation__list {
  list-style: none;
}

.user-navigation__phone-number {
  font-weight: 700;
  font-size: 16px;
  color: var(--text-extra);
  text-decoration: none;
}

.user-navigation__link {
  color: var(--text-extra);
  text-decoration: none;
}

.slider {
  color: var(--text-extra);
}

.slider__description {
  list-style: none;
}

.slider__link-title {
  text-decoration: none;
}

.slider__slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-extra);
}

.slider__slide-text {
  font-size: 18px;
  line-height: 24px;
}

.slider__figure {
  list-style: none;
}

.slider__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__slide-figure {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.slider__slide-figure--active {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.slider__slide-figure img {
  width: 66px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}

.slider__slide-figure--active img {
  width: 306px;
  height: 507px;
  opacity: 1;
}

.page-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--text-extra);
}

.special-promotions {
  color: var(--text-extra);
}

.special-promotions__list {
  list-style: none;
}

.special-promotions__item {
  background-color: var(--background-extra);
}

.special-promotions__title {
  font-size: 24px;
  line-height: 30px;
}

.most-popular__product-list {
  list-style: none;
}

.card-ice-cream {
  background-color: var(--background-standard);
}

.card-ice-cream__link {
  text-decoration: none;
}

.card-ice-cream__title {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
}

.card-ice-cream__description {
  font-size: 16px;
  line-height: 22px;
}

.card-ice-cream__price {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
}

.about-us__body {
  background-image: url(../img/img-decor/background/background-waffle@mini.jpg);
}

.about-us__list {
  list-style: none;
}

.about-us__item {
  font-size: 16px;
  line-height: 22px;
}

.news-block {
  background-image: url(../img/img-decor/background/background-news-block.jpg);
  background-repeat: no-repeat;
}

.news-block__subject {
  line-height: 20px;
}

.news-block__link {
  text-decoration: none;
}

.news-block__title {
  font-size: 24px;
  line-height: 30px;
  color: var(--text-extra);
}

.subscription {
  background-image: url(../img/img-decor/background/background-subscription.png);
  background-repeat: no-repeat;
}

.subscription__body {
  background-color: var(--background-standard);
  background-clip: content-box;
}

.delivery {
  background-image: url(../img/img-decor/background/background-delivery.jpg);
  background-repeat: no-repeat;
}

.delivery__body {
  background-color: var(--background-standard);
}

.delivery__form-label {
  font-weight: 700;
  line-height: 20px;
  color: var(--text-extra);
}

.contacts {
  background-image: url(../img/img-decor/background/background-feedback.jpg);
  background-repeat: no-repeat;
}

.contacts__adress {
  font-style: normal;
}

.contacts__text-lead {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
}

.contacts__phone-number {
  color: var(--text-extra);
  text-decoration: none;
}

.contacts__sub-text {
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.breadcrumbs__link {
  color: var(--text-extra);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--text-extra);
          text-decoration-color: var(--text-extra);
}

.filter-from {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-extra);
}

.product-list__body {
  list-style: none;
}

.product-list__pagination {
  list-style: none;
}

.product-list__pagination-link {
  line-height: 20px;
  color: var(--text-extra);
  text-decoration: none;
}

.social-list {
  list-style: none;
}

.button {
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-extra);
  text-decoration: none;
  background-color: var(--background-standard);
  background-clip: padding-box;
  border: 4px solid var(--background-standard-opacity);
  border-radius: 26px;
  -webkit-box-shadow: 0 4px 12px var(--button-shadow);
          box-shadow: 0 4px 12px var(--button-shadow);
}

.button:hover {
  background-color: var(--background-standard-opacity);
  border-color: var(--background-standard);
  -webkit-box-shadow: 0 4px 15px var(--button-shadow-hover);
          box-shadow: 0 4px 15px var(--button-shadow-hover);
}

.button:focus {
  border: 2px solid var(--text-extra);
}

.button--form {
  color: var(--background-standard);
  background-color: var(--background-button-form);
  border: 4px solid var(--button-form-border);
}

.button--form:hover {
  color: var(--text-extra);
  background: var(--background-standard-opacity);
  border-color: var(--background-button-form);
}

.button--filter-form {
  padding: 8px 32px;
  background: var(--background-standard-opacity);
  border: 2px solid var(--background-standard);
}

.button--filter-form:hover {
  background: var(--background-standard);
  border-color: var(--background-standard-opacity);
}

.button--filter-form:focus {
  border-color: var(--text-extra);
}

.additional-information {
  font-size: 14px;
  line-height: 20px;
}

.additional-information__list {
  list-style: none;
}

.additional-information__link {
  color: var(--text-extra);
  text-decoration: none;
}

.developed {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-extra);
}

.developed__link {
  color: var(--text-extra);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}