:root {
  --background-button-form: #ff2f64;
  --background-cite: #feafc3;
  --background-extra: #ff7799;
  --background-pink: #ff4a78;
  --background-slide-item: #ffcbd8;
  --background-standard: #fcfcfc;
  --background-standard-opacity: rgba(252, 252, 252, 0.4);
  --background-standard-opacity-3: rgba(252, 252, 252, 0.3);
  --background-standard-opacity-5: rgba(252, 252, 252, 0.5);
  --button-form-border: #ff2f644d;
  --button-shadow-hover: rgba(133, 133, 133, 0.15);
  --standard-shadow: rgba(45, 52, 64, 0.12);
  --standard-white: #fcfcfc;
  --text-extra: #2d3440;
  --text-inner-form: #b9b9b9;
  --text-strandard: #565c66;
  --black-standard-opacity-3: rgba(86, 92, 102, 0.3);
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-400.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-700.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-900.woff2) format("woff2");
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  width: 1170px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  color: var(--text-strandard);
  background-color: var(--background-cite);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 23px;
  margin-bottom: 24px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
}

.main-navigation__logo {
  margin-right: 16px;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 400px;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  list-style: none;
  gap: 1px;
}

.main-navigation__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 8px 16px;
  color: var(--text-extra);
  text-decoration: none;
  border-radius: 26px;
}

.main-navigation__link--selected-page {
  color: var(--standard-white);
  background-color: var(--background-pink);
}

.main-navigation__link:hover {
  background-color: var(--background-standard-opacity-5);
}

.main-navigation__link:focus {
  background-color: var(--background-standard-opacity-5);
  outline: 2px solid var(--text-extra);
}

.main-navigation__link:active {
  background-color: var(--standard-white);
  outline: none;
}

.main-navigation__dropdown-menu {
  position: absolute;
  top: 55px;
  left: 1px;
  z-index: 1;
  display: none;
  padding: 0;
  padding-bottom: 2px;
  list-style: none;
  white-space: nowrap;
  background-color: var(--standard-white);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 8px 16px var(--standard-shadow));
          filter: drop-shadow(0px 8px 16px var(--standard-shadow));
}

.main-navigation__item:hover .main-navigation__dropdown-menu {
  display: block;
}

.main-navigation__dropdown-item {
  position: relative;
  margin-bottom: 4px;
}

.main-navigation__dropdown-item--active .main-navigation__dropdown-link {
  color: white;
}

.main-navigation__dropdown-item:hover::before,
.main-navigation__dropdown-item--active::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 128%;
  background-color: var(--background-slide-item);
}

.main-navigation__dropdown-item--active::before {
  background-color: var(--background-pink);
}

.main-navigation__dropdown-item--active .main-navigation__dropdown-link:hover {
  color: var(--text-extra);
}

.main-navigation__dropdown-item:active::before {
  background-color: var(--background-extra);
}

.main-navigation__dropdown-item--special {
  margin-top: 12px;
  margin-bottom: 16px;
  font-weight: 700;
}

.main-navigation__dropdown-item--special::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 16px;
  width: 77%;
  border-bottom: 1px solid var(--text-inner-form);
}

.main-navigation__dropdown-link {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 4px 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-extra);
  text-decoration: none;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 20px;
  gap: 20px;
}

.user-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 296px;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;
  list-style: none;
  gap: 16px;
}

.user-navigation__phone-number {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 16px;
  color: var(--text-extra);
  text-decoration: none;
}

.user-navigation__link {
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 40px;
  color: var(--text-extra);
  text-decoration: none;
  background-color: var(--background-standard-opacity-3);
  border-radius: 26px;
}

.user-navigation__link:hover {
  background-color: var(--background-standard-opacity-5);
}

.user-navigation__link:focus {
  background-color: var(--background-standard-opacity-5);
  outline: 2px solid var(--text-extra);
}

.user-navigation__link:active {
  background-color: var(--standard-white);
  outline: none;
}

.user-navigation__link--search {
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url(../img/img-decor/interactive/search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 18px;
  border-radius: 50%;
}

.user-navigation__link--log-in {
  position: relative;
  padding-right: 18px;
}

.user-navigation__link--cart {
  position: relative;
}

.user-navigation__link--log-in::before,
.user-navigation__link--cart::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.user-navigation__link--log-in::before {
  background-image: url(../img/img-decor/interactive/log-in.svg);
}

.user-navigation__link--cart::before {
  background-image: url(../img/img-decor/interactive/cart.svg);
}

.user-navigation__link--cart-full::before {
  background-image: url(../img/img-decor/interactive/cart-with-items.svg);
}

.main-page__special-promotions {
  margin-top: 80px;
}

.main-page__most-popular {
  margin-top: 81px;
}

.main-page__about-us {
  margin-top: 81px;
}

.main-page__aside-information {
  margin-top: 80px;
}

.delivery__main-page {
  margin-top: 76px;
}

.main-page__contacts {
  margin-top: 78px;
}

.slider {
  color: var(--text-extra);
}

.slider__carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
}

.slider__description {
  max-width: 470px;
  margin: 0;
  margin-top: 132px;
  padding: 0;
  list-style: none;
}

.slider__slide-description {
  display: none;
}

.slider__slide-description--active {
  display: block;
}

.slider__link-title {
  text-decoration: none;
}

.slider__slide-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-extra);
}

.slider__slide-text {
  max-width: 414px;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
}

.slider__slide-figure {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 198px;
}

.slider__slide-figure::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: var(--background-slide-item);
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.4;
}

.slider__slide-figure--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-top: 17px;
}

.slider__slide-figure--active::before {
  top: 50%;
  left: 50%;
  width: 312px;
  height: 312px;
  -webkit-transform: translate(-49%, -49%);
      -ms-transform: translate(-49%, -49%);
          transform: translate(-49%, -49%);
  opacity: 1;
}

.slider__slide-figure img {
  width: 100px;
  height: 150px;
  opacity: 0.4;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__slide-figure--active img {
  width: 306px;
  height: 507px;
  opacity: 1;
}

.slider__controls {
  position: absolute;
  top: 254px;
  left: 472px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.slider__controls-button {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  background: var(--background-standard-opacity-3);
  border: 2px solid var(--standard-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider__controls-button::before {
  content: "";
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 auto;
  border-top: 1.5px solid var(--standard-white);
  border-right: 1.5px solid var(--standard-white);
}

.slider__controls-button--left::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slider__controls-button--right::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider__controls-button:hover {
  background-color: var(--standard-white);
}

.slider__controls-button:hover::before {
  border-color: var(--text-extra);
}

.slider__controls-button:focus {
  border-color: var(--text-extra);
  outline: none;
}

.slider__controls-button:focus::before {
  border-color: var(--text-extra);
}

.slider__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3px;
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 1px;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.slider__pagination-buttom {
  width: 12px;
  height: 12px;
  background-color: var(--background-standard-opacity-3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider__pagination-buttom--active {
  background-color: var(--standard-white);
}

.slider__pagination-buttom:hover {
  border: 1px solid var(--standard-white);
}

.slider__pagination-buttom:focus {
  border: 1px solid var(--text-extra);
  outline: none;
}

.page-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: var(--text-extra);
  margin: 0;
}

.special-promotions {
  color: var(--text-extra);
}

.special-promotions__page-title {
  margin-bottom: 54px;
  text-align: center;
}

.special-promotions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 25px;
}

.special-promotions__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 570px;
  padding: 40px;
  padding-right: 209px;
  background-color: var(--background-extra);
  border-radius: 16px;
}

.special-promotions__item--raspberries {
  background-image: url(../img/img-decor/special-promotions/raspberries-promotions.png);
  background-repeat: no-repeat;
  background-position: right 15px bottom;
}

.special-promotions__item--marshmallows {
  background-image: url(../img/img-decor/special-promotions/marshallow-promotions.png);
  background-repeat: no-repeat;
  background-position: right 7px bottom;
}

.special-promotions__title {
  margin-top: 1px;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 30px;
}

.special-promotions__description {
  margin-bottom: 31px;
}

.most-popular__page-title {
  margin-bottom: 56px;
  text-align: center;
}

.most-popular__product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  gap: 30px;
}

.card-ice-cream {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 190px;
  max-width: 270px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
}

.card-ice-cream:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 85%;
  background-color: var(--standard-white);
  border-radius: 3%;
}

.card-ice-cream__image {
  -webkit-filter: drop-shadow(0px 4px 12px var(--standard-shadow));
          filter: drop-shadow(0px 4px 12px var(--standard-shadow));
}

.card-ice-cream__link {
  text-decoration: none;
}

.card-ice-cream__title {
  margin-top: 15px;
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
}

.card-ice-cream__description {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}

.card-ice-cream__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card-ice-cream__price {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
}

.card-ice-cream__price-kg {
  margin-left: 3px;
}

.card-ice-cream__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32px;
  height: 32px;
  background-color: var(--background-button-form);
  border-radius: 50%;
}

.card-ice-cream__button-icon {
  margin: auto;
}

.card-ice-cream__button path {
  fill: var(--standard-white);
}

.card-ice-cream__button:hover {
  background-color: var(--background-standard-opacity-3);
  border: 2px solid var(--background-button-form);
}

.card-ice-cream__button:hover path {
  fill: var(--text-extra);
}

.card-ice-cream__button:focus {
  border: 2px solid var(--text-extra);
  outline: none;
}

.about-us {
  padding: 24px;
  background-image: url(../img/img-decor/background/background-waffle@mini.jpg);
  border-radius: 16px;
}

.about-us__body {
  padding: 56px 40px;
  background-color: var(--standard-white);
  border-radius: 16px;
}

.page-title__about-us {
  margin-bottom: 56px;
  text-align: center;
}

.about-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 40px;
}

.about-us__item {
  position: relative;
  max-width: 442px;
  padding-left: 64px;
  font-size: 16px;
  line-height: 22px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 32px;
  border: 2px solid var(--text-extra);
  border-radius: 50%;
}

.about-us__item--ice-cream::before {
  background-image: url(../img/img-decor/otherwise/description-ice-cream.svg);
}

.about-us__item--farm-suppliers::before {
  background-image: url(../img/img-decor/otherwise/description-cow.svg);
}

.about-us__item--eco-materials::before {
  background-image: url(../img/img-decor/otherwise/description-leaf.svg);
}

.about-us__item--quality-delivery::before {
  background-image: url(../img/img-decor/otherwise/description-thermometer.svg);
}

.aside-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 25px;
}

.news-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 570px;
  min-height: 216px;
  padding-top: 32px;
  padding-right: 235px;
  padding-bottom: 32px;
  padding-left: 32px;
  background-color: var(--standard-white);
  background-image: url(../img/img-decor/background/background-news-block.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news-block__subject {
  margin-top: 0;
  margin-bottom: 11px;
  line-height: 20px;
}

.news-block__link {
  text-decoration: none;
}

.news-block__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-extra);
}

.subscription {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 570px;
  padding: 6px;
  background-image: url(../img/img-decor/background/background-subscription.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.subscription__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 208px;
  padding: 26px;
  background-color: var(--standard-white);
  border-radius: 16px;
}

.subscription__text {
  margin-top: 0;
}

.subscription__form-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 332px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  border: 1px solid var(--text-inner-form);
  border-radius: 4px;
}

.subscription__form-field::-webkit-input-placeholder {
  color: var(--text-inner-form);
}

.subscription__form-field::-moz-placeholder {
  color: var(--text-inner-form);
}

.subscription__form-field:-ms-input-placeholder {
  color: var(--text-inner-form);
}

.subscription__form-field::-ms-input-placeholder {
  color: var(--text-inner-form);
}

.subscription__form-field::placeholder {
  color: var(--text-inner-form);
}

.subscription__form-button {
  margin-left: 18px;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
  padding-left: 100px;
  background-image: url(../img/img-decor/background/background-delivery.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.delivery__body {
  max-width: 371px;
}

.delivery__page-title {
  margin-top: 103px;
}

.delivery__text {
  margin-top: 24px;
}

.delivery__form-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
  padding: 40px;
  padding-bottom: 43px;
  background-color: var(--standard-white);
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 40px var(--standard-shadow);
          box-shadow: 0 15px 40px var(--standard-shadow);
}

.delivery__form-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.delivery__form {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -ms-grid-columns: -webkit-max-content 2fr;
  -ms-grid-columns: max-content 2fr;
  grid-template-columns: -webkit-max-content 2fr;
  grid-template-columns: max-content 2fr;
  -ms-grid-rows: 3fr;
  grid-template-rows: 3fr;
  row-gap: 22px;
}

.delivery__form-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}

.delivery__form-fieldset--date {
  max-width: 117px;
}

.delivery__form-fieldset--adress {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.delivery__form-label {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-extra);
}

.delivery__form-label--info {
  padding-right: 19px;
}

.delivery__form-label-info {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 18px;
  background-image: url(../img/img-decor/interactive/info.svg);
  background-repeat: no-repeat;
  background-position-y: 1px;
  cursor: help;
}

.delivery__form-label-tooltipe {
  position: absolute;
  top: -35%;
  left: 25px;
  width: 168px;
  padding: 10px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-strandard);
  background: var(--background-standard);
  border: 1px solid var(--text-inner-form);
  border-radius: 1px;
  -webkit-box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
          box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  visibility: hidden;
}

.delivery__form-label-tooltipe::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -6px;
  width: 8px;
  height: 10px;
  background-color: var(--standard-white);
  background-image: url(../img/img-decor/otherwise/arrow-left.svg);
  background-position: center;
}

.delivery__form-label-info:hover .delivery__form-label-tooltipe {
  visibility: visible;
}

.delivery__form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  background-color: var(--standard-white);
  border: 1px solid var(--text-inner-form);
  border-radius: 4px;
}

.delivery__form-input::-webkit-input-placeholder {
  color: var(--text-inner-form);
}

.delivery__form-input::-moz-placeholder {
  color: var(--text-inner-form);
}

.delivery__form-input:-ms-input-placeholder {
  color: var(--text-inner-form);
}

.delivery__form-input::-ms-input-placeholder {
  color: var(--text-inner-form);
}

.delivery__form-input::placeholder {
  color: var(--text-inner-form);
}

.delivery__form-button {
  margin-top: 11px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.contacts {
  padding: 64px;
  background-image: url(../img/img-decor/background/background-feedback.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts__body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 343px;
  padding: 40px;
  min-height: 364px;
  background-color: var(--standard-white);
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 40px var(--standard-shadow);
          box-shadow: 0 15px 40px var(--standard-shadow);
}

.contacts__adress {
  font-style: normal;
}

.contacts__text {
  max-width: 203px;
  margin: 0;
}

.contacts__text-lead {
  margin-top: 12px;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
}

.contacts__phonenumber {
  margin-top: 12px;
  margin-bottom: 31px;
}

.contacts__phonenumber a {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
  text-decoration: none;
}

.contacts__sub-text {
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  gap: 29px;
}

.breadcrumbs__link {
  position: relative;
  color: var(--text-extra);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--text-extra);
          text-decoration-color: var(--text-extra);
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -24px;
  width: 15px;
  height: 15px;
  background-image: url(../img/img-decor/otherwise/chevrons-right.svg);
  background-repeat: no-repeat;
}

.breadcrumbs__link--active {
  text-decoration: none;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 813px;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-extra);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 16px;
}

.filter-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form__fieldset-caption {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  padding: 0;
}

.filter-form__fieldset-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 36px;
  margin: 0;
  padding: 0;
  padding: 8px 16px;
  list-style: none;
  background-color: var(--background-standard-opacity-3);
  border-radius: 20px;
  gap: 18px;
}

.filter-form__fieldset-body--select {
  margin-left: 0;
  padding-right: 60px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter;
  background-image: url(../img/img-decor/interactive/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 14px top 11px;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-form__fieldset-body--select:hover {
  background-color: var(--background-standard-opacity-5);
}

.filter-form__fieldset-body--select:focus {
  background-color: var(--background-standard-opacity);
  outline: 2px solid var(--standard-white);
}

.filter-form__range-input {
  width: 30px;
  max-width: 39px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  background: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-form__range-input::-webkit-outer-spin-button,
.filter-form__range-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
          appearance: none;
}

.filter-form__range-input[type="number"] {
  -moz-appearance: textfield;
}

.filter-form__range-scale {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 164px;
  height: 2px;
  margin: auto;
  background-color: var(--black-standard-opacity-3);
}

.filter-form__range-bar {
  position: absolute;
  left: 19%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  width: 44%;
  height: inherit;
  height: inherit;
  background-color: var(--text-strandard);
}

.filter-form__range-button {
  position: absolute;
  top: -7px;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: var(--standard-white);
  border: 7px solid var(--text-extra);
  border-radius: 50%;
  cursor: pointer;
}

.filter-form__range-button--min {
  left: -8px;
}

.filter-form__range-button--max {
  right: -8px;
}

.filter-form__range-button:hover {
  background-color: var(--text-extra);
  border-color: var(--standard-white);
}

.filter-form__range-button:focus {
  background-color: var(--text-extra);
  border-color: var(--standard-white);
  outline: 3px solid var(--text-extra);
}

.filter-form__range-button:active {
  background-color: var(--text-extra);
  border-color: var(--text-extra);
  outline: none;
}

.filter-form__label {
  position: relative;
  cursor: pointer;
}

.filter-form__text {
  padding-left: 23px;
}

.filter-form__radio-spy {
  position: absolute;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-form__radio-visible {
  position: absolute;
  top: 2px;
  left: -1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 16px;
  background-image: url(../img/img-decor/radio/radio-off.svg);
}

.filter-form__radio-spy:checked + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-on.svg);
}

.filter-form__radio-spy:checked:hover + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-on-hover.svg);
}

.filter-form__radio-spy:hover + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-off-hover.svg);
}

.filter-form__radio-spy:disabled + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-off-disable.svg);
}

.filter-form__radio-spy:checked:disabled + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-on-disable.svg);
}

.filter-form__checkbox {
  cursor: pointer;
}

.filter-form__checkbox:nth-child(2) {
  margin-right: 8px;
}

.filter-form__checkbox-spy {
  position: absolute;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-form__checkbox-visible {
  position: absolute;
  top: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 16px;
  height: 16px;
  background-image: url(../img/img-decor/checkbox/check-off.svg);
}

.filter-form__checkbox-spy:checked + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-on.svg);
}

.filter-form__checkbox-spy:checked:hover + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-on-hover.svg);
}

.filter-form__checkbox-spy:hover + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-off-hover.svg);
}

.filter-form__checkbox-spy:disabled + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-off-disable.svg);
}

.filter-form__checkbox-spy:checked:disabled + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-on-disable.svg);
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-list__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 41px;
}

.product-list__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 57px;
}

.product-list__button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-51%);
      -ms-transform: translateX(-51%);
          transform: translateX(-51%);
}

.product-list__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  gap: 2px;
}

.product-list__pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
}

.product-list__pagination-item:first-child {
  margin-right: 8px;
}

.product-list__pagination-item:last-child {
  margin-left: 8px;
}

.product-list__pagination-item--disabled {
  opacity: 0.2;
}

.product-list__pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  color: var(--text-extra);
  text-decoration: none;
  border-radius: 50%;
}

.product-list__pagination-link--active {
  background-color: var(--standard-white);
}

.product-list__pagination-link:hover {
  background-color: var(--background-standard-opacity);
  outline: 1px solid var(--standard-white);
}

.product-list__pagination-link:focus {
  background-color: var(--background-standard-opacity-3);
  outline: 1px solid var(--text-extra);
}

.product-list__pagination-previous {
  width: inherit;
  height: inherit;
  background-image: url(../../img/img-decor/interactive/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.product-list__pagination-next {
  width: inherit;
  height: inherit;
  background-image: url(../../img/img-decor/interactive/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.catalog-page {
  padding-bottom: 91px;
  border-bottom: 1px solid var(--background-standard-opacity-3);
}

.catalog-page__breadcrumbs {
  margin-top: 29px;
}

.catalog-page__page-title {
  margin-top: 16px;
}

.catalog-page__filter-form {
  margin-top: 39px;
}

.catalog-page__product-list {
  margin-top: 49px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 16px;
}

.social-list__link {
  outline: none;
}

.social-list img {
  border-radius: 50%;
  outline: 2px solid var(--background-standard-opacity-3);
  -webkit-box-shadow: inset 0 0 0 2px var(--standard-white);
          box-shadow: inset 0 0 0 2px var(--standard-white);
}

.social-list img:hover {
  background-color: var(--text-extra);
}

.social-list__link:focus img {
  outline-color: var(--text-extra);
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter;
  text-align: center;
  color: var(--text-extra);
  text-decoration: none;
  background-color: var(--standard-white);
  background-clip: padding-box;
  border: none;
  border-radius: 26px;
  outline: 4px solid var(--background-standard-opacity);
  -webkit-box-shadow: 0 4px 12px var(--standard-shadow);
          box-shadow: 0 4px 12px var(--standard-shadow);
  cursor: pointer;
}

.button:hover {
  background-color: var(--background-standard-opacity);
  outline-color: var(--standard-white);
  -webkit-box-shadow: 0 4px 15px var(--button-shadow-hover);
          box-shadow: 0 4px 15px var(--button-shadow-hover);
}

.button:focus {
  outline: 2px solid var(--text-extra);
}

.button--form {
  color: var(--standard-white);
  background-color: var(--background-button-form);
  outline: 4px solid var(--button-form-border);
}

.button--form:hover {
  color: var(--text-extra);
  background: var(--background-standard-opacity);
  outline-color: var(--background-button-form);
}

.button--filter-form {
  padding: 8px 53px;
  font-size: 14px;
  background: var(--background-standard-opacity);
  outline: 2px solid var(--standard-white);
}

.button--filter-form:hover {
  background: var(--standard-white);
  outline-color: var(--background-standard-opacity);
}

.button--filter-form:focus {
  outline-color: var(--text-extra);
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
  padding-right: 14px;
  padding-bottom: 48px;
  padding-left: 4px;
}

.page-footer .additional-information {
  margin-left: 121px;
}

.additional-information {
  font-size: 14px;
  line-height: 20px;
}

.additional-information__list {
  display: -ms-grid;
  display: grid;
  max-width: 332px;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  row-gap: 8px;
}

.additional-information__link {
  color: var(--text-extra);
  text-decoration: none;
}

.additional-information__link--active {
  position: relative;
  font-weight: bold;
}

.additional-information__link--active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -23px;
  width: 15px;
  height: 15px;
  background-image: url(../../img/img-decor/otherwise/heart.svg);
  background-repeat: no-repeat;
}

.developed {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-extra);
}

.developed__sub-text {
  margin-top: 10px;
}

.developed__link {
  color: var(--text-extra);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}