@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-400.woff2);
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-700.woff2);
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";
  font-display: swap;
  src: url(../fonts/inter-900.woff2);
}
body {
  background-color: #feafc3;
}

.special-promotions__item {
  background-color: #ff7799;
}

.card-ice-cream {
  background-color: #FCFCFC;
}

.about-us__body {
  background-image: url(../img/img-decor/background/background-waffle@mini.jpg);
}

.news-item {
  background-image: url(../img/img-decor/background/background-news-item.jpg);
  background-repeat: no-repeat;
}

.subscription {
  background-image: url(../img/img-decor/background/background-subscription.png);
  background-repeat: no-repeat;
}

.delivery {
  background-image: url(../img/img-decor/background/background-delivery.jpg);
  background-repeat: no-repeat;
}

.contacts {
  background-image: url(../img/img-decor/background/background-feedback.jpg);
  background-repeat: no-repeat;
}