.about-us__body {
  background-image: url(../img/img-decor/background/background-waffle@mini.jpg);
}

.about-us__list {
  list-style: none;
}

.about-us__item {
  font-size: 16px;
  line-height: 22px;
}