.about-us {
  box-sizing: border-box;
  min-height: 480px;
  padding: 24px;

  background-image: url(../img/img-decor/background/background-waffle@mini.jpg);
  border-radius: 16px;
}

.about-us__body {
  padding: 56px 40px;

  background-color: var(--standard-white);
  border-radius: 16px;
}

.about-us__page-title {
  margin-bottom: 56px;

  text-align: center;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 40px;
}

.about-us__item {
  position: relative;

  max-width: 442px;
  padding-left: 64px;

  font-size: 16px;
  line-height: 22px;
}

.about-us__item::before {
  content: "";
  position: absolute;
  left: 0;

  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 32px;
  border: 2px solid var(--text-extra);
  border-radius: 50%;
}

.about-us__item--ice-cream::before {
  background-image: url(../img/img-decor/otherwise/description-ice-cream.svg);
}

.about-us__item--farm-suppliers::before {
  background-image: url(../img/img-decor/otherwise/description-cow.svg);
}

.about-us__item--eco-materials::before {
  background-image: url(../img/img-decor/otherwise/description-leaf.svg);
}

.about-us__item--quality-delivery::before {
  background-image: url(../img/img-decor/otherwise/description-thermometer.svg);
}
