.additional-information {
  font-size: 14px;
  line-height: 20px;
}

.additional-information__list {
  display: grid;
  max-width: 332px;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 25px;

  grid-template-columns: max-content max-content;
  row-gap: 8px;
}

.additional-information__link {
  color: var(--text-extra);
  text-decoration: none;
}

.additional-information__link--active {
  position: relative;

  font-weight: bold;
}

.additional-information__link--active::before {
  content: "";
  position: absolute;
  top: 0;
  left: -23px;

  width: 15px;
  height: 15px;

  background-image: url(../img/img-decor/otherwise/heart.svg);
  background-repeat: no-repeat;
}
