.additional-information {
  font-size: 14px;
  line-height: 20px;
}

.additional-information__list {
  list-style: none;
}

.additional-information__link {
  color: var(--text-extra);
  text-decoration: none;
}
