.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 29px;
}

.breadcrumbs__link {
  color: var(--text-extra);
  text-decoration: underline;

  text-decoration-color: var(--text-extra);
}

.breadcrumbs__link--active {
  text-decoration: none;
}