.button {
  display: inline-block;
  padding: 12px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: Inter;
  text-align: center;
  color: var(--text-extra);
  text-decoration: none;

  background-color: var(--standard-white);
  background-clip: padding-box;
  border: none;
  border-radius: 26px;
  outline: 4px solid var(--background-standard-opacity);
  box-shadow: 0 4px 12px var(--standard-shadow);
  cursor: pointer;
}

.button:hover {
  background-color: var(--background-standard-opacity);
  outline-color: var(--standard-white);
  box-shadow: 0 4px 15px var(--button-shadow-hover);
}

.button:focus {
  outline: 2px solid var(--text-extra);
}

.button--form {
  color: var(--standard-white);

  background-color: var(--background-button-form);
  outline: 4px solid var(--button-form-border);
}

.button--form:hover {
  color: var(--text-extra);

  background: var(--background-standard-opacity);
  outline-color: var(--background-button-form);
}

.button--filter-form {
  padding: 8px 53px;

  font-size: 14px;

  background: var(--background-standard-opacity);
  outline: 2px solid var(--standard-white);
}

.button--filter-form:hover {
  background: var(--standard-white);
  outline-color: var(--background-standard-opacity);
}

.button--filter-form:focus {
  outline-color: var(--text-extra);
}
