.catalog-page {
  padding-bottom: 91px;

  border-bottom: 1px solid var(--background-standard-opacity-3);


  flex-grow: 1;
}

.catalog-page__breadcrumbs {
  margin-top: 29px;
}

.catalog-page__page-title {
  margin-top: 16px;
}

.catalog-page__filter-form {
  margin-top: 39px;
}

.catalog-page__product-list {
  margin-top: 49px;
}
