.catalog-page {
  padding-bottom: 40px;

  border-bottom: 1px solid var(--background-standard-opacity-3);
}

.catalog-page .breadcrumbs {
  margin-top: 29px;
}

.catalog-page__breadcrumbs {
  margin-top: 29px;
}

.catalog-page .page-title {
  margin-top: 16px;
  margin-bottom: 39px;
}

.catalog-page .filter-form {
  margin-bottom: 48px;
}
