.contacts {
  padding: 64px;

  background-image: url(../img/img-decor/background/background-feedback.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts__body {
  box-sizing: border-box;
  max-width: 343px;
  padding: 40px;
  min-height: 364px;
  background-color: var(--background-standard);
  border-radius: 8px;
  box-shadow: 0 15px 40px var(--standard-shadow);
}

.contacts__adress {
  font-style: normal;
}

.contacts__text {
  max-width: 203px;
  margin: 0;
}

.contacts__text-lead {
  margin-top: 12px;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
}

.contacts__phonenumber {
  margin-top: 12px;
  margin-bottom: 31px;
}

.contacts__phonenumber a {
  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-extra);
  text-decoration: none;
}

.contacts__sub-text {
  font-size: 14px;
  line-height: 20px;
}
