.delivery {
  background-image: url(../img/img-decor/background/background-delivery.jpg);
  background-repeat: no-repeat;
}

.delivery__body {
  background-color: var(--background-standard);
}

.delivery__form-label {
  font-weight: 700;
  line-height: 20px;
  color: var(--text-extra);
}


