.developed {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-extra);
}

.developed__sub-text {
  margin-top: 10px;
}

.developed__link {
  position: relative;

  color: var(--text-extra);
  text-decoration: none;
}

.developed__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 99%;
  height: 1px;

  background-color: var(--text-extra);
}
