.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 900px;

  font-size: 14px;
  line-height: 20px;
  color: var(--text-extra);
  column-gap: 24px;

  row-gap: 16px;
}

.filter-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-form__fieldset-caption {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  padding: 0;
}

.filter-form__fieldset-body {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 36px;
  margin: 0;
  padding: 0;
  padding: 8px 16px;

  list-style: none;

  background-color: var(--background-standard-opacity-3);
  border-radius: 20px;

  gap: 18px;
}

.filter-form__fieldset-body--select {
  margin-left: 0;
  padding-right: 60px;
  padding-left: 12px;

  font-size: 14px;
  line-height: 20px;
  font-family: Inter;

  background-image: url(../img/img-decor/interactive/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 14px top 11px;
  border: none;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-form__fieldset-body--select:hover {
  background-color: var(--background-standard-opacity-5);
}

.filter-form__fieldset-body--select:focus {
  background-color: var(--background-standard-opacity);
  outline: 2px solid var(--standard-white);
}

.filter-form__range-input {
  width: 30px;
  max-width: 39px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;

  background: transparent;
  border: none;

  appearance: none;
}

.filter-form__range-input::-webkit-outer-spin-button,
.filter-form__range-input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

.filter-form__range-input[type="number"] {
  -moz-appearance: textfield;
}

.filter-form__range-scale {
  position: relative;

  box-sizing: border-box;
  width: 164px;
  height: 2px;
  margin: auto;

  background-color: var(--black-standard-opacity-3);
}

.filter-form__range-bar {
  position: absolute;
  left: 19%;

  box-sizing: inherit;
  width: 44%;
  height: inherit;
  height: inherit;

  background-color: var(--text-strandard);
}

.filter-form__range-button {
  position: absolute;
  top: -7px;

  width: 16px;
  height: 16px;
  padding: 0;

  background-color: var(--standard-white);
  border: 7px solid var(--text-extra);
  border-radius: 50%;
  cursor: pointer;
}

.filter-form__range-button--min {
  left: -8px;
}

.filter-form__range-button--max {
  right: -8px;
}

.filter-form__range-button:hover {
  background-color: var(--text-extra);
  border-color: var(--standard-white);
}

.filter-form__range-button:focus {
  background-color: var(--text-extra);
  border-color: var(--standard-white);
  outline: 3px solid var(--text-extra);
}

.filter-form__range-button:active {
  background-color: var(--text-extra);
  border-color: var(--text-extra);
  outline: none;
}

.filter-form__label {
  position: relative;

  cursor: pointer;
}

.filter-form__text {
  padding-left: 23px;
}

.filter-form__radio-spy {
  position: absolute;

  outline: none;

  appearance: none;
}

.filter-form__radio-visible {
  position: absolute;
  top: 2px;
  left: -1px;

  box-sizing: border-box;
  width: 16px;
  height: 16px;

  background-image: url(../img/img-decor/radio/radio-off.svg);
}

.filter-form__radio-spy:checked + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-on.svg);
}

.filter-form__radio-spy:checked:hover + .filter-form__radio-visible,
.filter-form__radio-spy:checked:focus + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-on-hover.svg);
}

.filter-form__radio-spy:hover + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-off-hover.svg);
}

.filter-form__radio-spy:disabled + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-off-disable.svg);
}

.filter-form__radio-spy:checked:disabled + .filter-form__radio-visible {
  background-image: url(../img/img-decor/radio/radio-on-disable.svg);
}

.filter-form__checkbox {
  cursor: pointer;
}

.filter-form__checkbox:nth-child(2) {
  margin-right: 8px;
}

.filter-form__checkbox-spy {
  position: absolute;

  outline: none;

  appearance: none;
}

.filter-form__checkbox-visible {
  position: absolute;
  top: 1px;

  box-sizing: border-box;
  width: 16px;
  height: 16px;

  background-image: url(../img/img-decor/checkbox/check-off.svg);
}

.filter-form__checkbox-spy:checked + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-on.svg);
}

.filter-form__checkbox-spy:checked:hover + .filter-form__checkbox-visible,
.filter-form__checkbox-spy:checked:focus + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-on-hover.svg);
}

.filter-form__checkbox-spy:hover + .filter-form__checkbox-visible,
.filter-form__checkbox-spy:focus + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-off-hover.svg);
}

.filter-form__checkbox-spy:disabled + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-off-disable.svg);
}

.filter-form__checkbox-spy:checked:disabled + .filter-form__checkbox-visible {
  background-image: url(../img/img-decor/checkbox/check-on-disable.svg);
}
