.main-navigation {
  display: flex;
  align-items: center;

  line-height: 20px;
}

.main-navigation__logo {
  margin-right: 16px;
}

.main-navigation__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  list-style: none;
}

.main-navigation__link {
  padding: 8px 16px;

  color: var(--text-extra);
  text-decoration: none;

  border-radius: 26px;
}

.main-navigation__link--selected-page {
  color: var(--background-standard);

  background-color: var(--background-pink);
}

.main-navigation__link:hover {
  background-color: var(--background-standard-opacity-5);
}

.main-navigation__link:focus {
  background-color: var(--background-standard-opacity-5);
  outline: 2px solid var(--text-extra);
}

.main-navigation__link:active {
  background-color: var(--background-standard);
  outline: none;
}
