.main-navigation {
  line-height: 20px;
}

.main-navigation__list {
  max-width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__link {
  color: var(--text-extra);
  text-decoration: none;
}
