.main-page__special-promotions {
  margin-top: 80px;
}

.main-page__most-popular {
  margin-top: 81px;
}

.main-page__about-us {
  margin-top: 80px;
}

.main-page__aside-information {
  margin-top: 80px;
}

.delivery__main-page {
  margin-top: 76px;
}

.main-page__contacts {
  margin-top: 79px;
}
