.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-right: 14px;
  padding-bottom: 48px;
  padding-left: 4px;
}

.page-footer .additional-information {
  margin-left: 121px;
}
