.popover-auth {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 1;

  display: none;
  box-sizing: border-box;
  width: 420px;
  padding: 48px;
  padding-bottom: 51px;

  background: var(--standard-white);
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px var(--standard-shadow));
}

.popover-auth__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  color: var(--text-extra);
}

.popover-auth__form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  row-gap: 18px;
}

.popover-auth__form-field {
  margin: 0;
}

.popover-auth__form-input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", "Arial", sans-serif;

  background: var(--white);
  border: 1px solid var(--text-inner-form);
  border-radius: 4px;
}


.popover-auth__form-input:focus {
  border-color: var(--text-extra);
  outline: 1px solid var(--text-extra);
}

.popover-auth__form-input:hover {
  border: 1px solid var(--text-extra);
}


.popover-auth__form-input::placeholder {
  opacity: 1;
}

.popover-auth__form-footer {
  display: flex;
  margin-top: 11px;

  column-gap: 23px;
}

.popover-auth__user-options {
  display: flex;
  flex-direction: column;

  row-gap: 4px;
}

.popover-auth__user-option {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-extra);
}
