.product-list__body {
  list-style: none;
}
.product-list__pagination {
  list-style: none;
}

.product-list__pagination-link {
  line-height: 20px;
  color: var(--text-extra);
  text-decoration: none;
}