.product-list {
  display: flex;
  flex-direction: column;
}

.product-list__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
  column-gap: 30px;

  row-gap: 40px;
}

.product-list__footer {
  display: flex;
  justify-content: flex-end;
}

.product-list__pagination {
  margin: 0;
  margin-left: 300px;
  padding: 0;

  list-style: none;
}

.product-list__pagination-link {
  line-height: 20px;
  color: var(--text-extra);
  text-decoration: none;
}
