.product-list {
  display: flex;
  flex-direction: column;
}

.product-list__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;
  column-gap: 30px;

  row-gap: 41px;
}

.product-list__footer {
  position: relative;

  display: flex;
  justify-content: flex-end;
  margin-top: 57px;
}

.product-list__button {
  position: absolute;
  left: 50%;

  transform: translateX(-51%);
}

.product-list__pagination {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  list-style: none;

  gap: 2px;
}

.product-list__pagination-item {
  display: flex;
  width: 24px;
  height: 24px;
}

.product-list__pagination-item:first-child {
  margin-right: 8px;
}

.product-list__pagination-item:last-child {
  margin-left: 8px;
}

.product-list__pagination-item--disabled {
  opacity: 0.2;
}

.product-list__pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  color: var(--text-extra);
  text-decoration: none;

  border-radius: 50%;
}

.product-list__pagination-link--active {
  background-color: var(--standard-white);
}

.product-list__pagination-link:hover {
  background-color: var(--background-standard-opacity);
  outline: 1px solid var(--standard-white);
}

.product-list__pagination-link:focus {
  background-color: var(--background-standard-opacity-3);
  outline: 1px solid var(--text-extra);
}

.product-list__pagination-previous {
  width: inherit;
  height: inherit;

  background-image: url(../../img/img-decor/interactive/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.product-list__pagination-next {
  width: inherit;
  height: inherit;

  background-image: url(../../img/img-decor/interactive/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
