.slider {
  color: var(--text-extra);
}

.slider__carousel {
  display: flex;
}

.slider__description {
  max-width: 470px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__slide-description {
  display: none;
}

.slider__slide-description--active {
  display: block;
}

.slider__link-title {
  text-decoration: none;
}

.slider__slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-extra);
}

.slider__slide-text {
  font-size: 18px;
  line-height: 24px;
}

.slider__figure {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

// отсюда

// загатовка

// .slider__figure {
//   display: flex;
//   flex-direction: column;
// }

.slider__slide-figure {
  order: 1;
}

.slider__slide-figure--active {
  order: 0;
}

// болванка, переделать под один класс
.slider__slide-figure img {
  width: 66px;
  height: 150px;

  opacity: 0.4;

  object-fit: cover;
}

.slider__slide-figure--active img {
  width: 306px;
  height: 507px;

  opacity: 1;
}

// досюда
// переделать

.slider__footer {
  display: flex;
  justify-content: space-between;
}

.slider__pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}
