.social-list {
  display: flex;
  height: 24px;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 16px;
}

.social-list__link {
  outline: none;
}

.social-list img {
  border-radius: 50%;
  outline: 2px solid var(--background-standard-opacity-3);
  box-shadow: inset 0 0 0 2px var(--background-standard);
}

.social-list img:hover {
  background-color: var(--text-extra);
}

.social-list__link:focus img {
  outline-color: var(--text-extra);
}
