.special-promotions {
  color: var(--text-extra);
}

.special-promotions__page-title {
  margin-bottom: 54px;
  padding: 0 321px;

  text-align: center;
}

.special-promotions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 25px;
}

.special-promotions__item {
  box-sizing: border-box;
  max-width: 570px;
  padding: 40px;
  padding-right: 209px;

  background-color: var(--background-extra);
  border-radius: 16px;
}

.special-promotions__item--raspberries {
  background-image: url(../img/img-decor/special-promotions/raspberries-promotions.png);
  background-repeat: no-repeat;
  background-position: right 15px bottom;
}

.special-promotions__item--marshmallows {
  background-image: url(../img/img-decor/special-promotions/marshallow-promotions.png);
  background-repeat: no-repeat;
  background-position: right 7px bottom;
}

.special-promotions__title {
  margin-top: 1px;
  margin-bottom: 17px;

  font-size: 24px;
  line-height: 30px;;
}

.special-promotions__description {
  margin-bottom: 31px;
}
