.subscription {
  background-image: url(../img/img-decor/background/background-subscription.png);
  background-repeat: no-repeat;
}

.subscription__body {
  background-color: var(--background-standard);
  background-clip: content-box;
}
