// Sticky Footer

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

// Global

body {
  width: 1170px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  color: var(--text-strandard);

  background-color: var(--background-cite);
}
