:root {
  --background-cite: #feafc3;
  --background-extra: #ff7799;
  --background-standard: #fcfcfc;
  --background-standard-opacity: rgba(252, 252, 252, 0.4);
  --background-button-form: #FF2F64;
  --button-shadow: rgba(45, 52, 64, 0.1);
  --button-shadow-hover: rgba(133, 133, 133, 0.15);
  --button-form-outline: rgba(255, 47, 100, 0.3);
  --text-extra: #2d3440;
  --text-inner-form: #b9b9b9;
  --text-strandard: #565c66;
}